<div class="form col-md-8 text-center mt-5 mx-auto">
  <h1><%= @article.title %></h1>
  <div>
    <% unless @article.user.nil? %>
      <p>Escrito por: <%= @article.user.email%></p>
      <p>Visitas: <%= @article.visits%></p>
    <%end%>
  </div>
  <div>
    <p><%= @article.body %></p>
  </div>
  <div>
    <h3>Comentarios</h3>
    <%= render 'comments/form'%>
  </div>
  <div>
    <ul>
      <%@article.comments.each do |comment|%>
        <li>
          <%= comment.body%> - <%= comment.user.email%>
        </li>
      <%end%>
    </ul>
  </div>
  <div>
    <%= link_to "Editar", edit_article_path(@article), :class => "btn btn-success" %>
  </div>
</div>
